.EmojiField
  .Emojies.Hidden
    .EmojiStep
      .Emoji 
        &#x1f604;
      .Emoji
        &#x1f60a;
      .Emoji
        &#x1f970;
    .EmojiStep
      .Emoji
        &#x1f60b;
      .Emoji
        &#x1f63b;
      .Emoji
        &#x1f60f;
    .EmojiStep
      .Emoji
        &#x1f60d;
      .Emoji
        &#x1f973;
      .Emoji
        &#x1f496;
    .EmojiStep
      .Emoji
        &#x1f495;
      .Emoji
        &#x1f44d;
      .Emoji
        &#x1f44f;
    .EmojiStep
      .Emoji
        &#x1f37b;
      .Emoji
        &#x1f389;
      .Emoji
        &#x1f917;
