.SettingTableNumber{
  width: 100vw;
  height: 400px;
  background-color: lightsteelblue;
}
.HiddenBtn{
  visibility: hidden;
}
.Checkbox{
  padding: 100px;
}




.SecretField{
  width: 10px;
  height: 10px;
  background-color: mistyrose;
}
.Shop{
  display: flex;
  justify-content: space-between;
}
