.WrapperTable
  .TopContent
    .CallContent
      .CallMessage__wait
        係りの者が参ります。
        %br
        そのままお待ちください
      .CallMessage__thanks
        本日はご来店いただき誠にありがとうございました。
        %br
        またのお越しをお待ちしています。
      .CallBtn
        = link_to root_path, class: "ToppageBtn" do
          TOPへ